.hotelsContainer {
  padding-top: 50px;
}

.hotelTitle {
  padding-bottom: 30px;
}

.hotelTitle h3 {
  font-size: 2em;
  font-weight: 600;
}

.hotelTitle p {
  color: #606060;
  margin-bottom: 30px;
}

.hotelDescription {
  padding: 30px 0;
}

.hotelDescription p {
  font-size: 1.2em;
  color: #606060;
  font-weight: 300;
  width: 80vw;
}

.hotelImages {
  padding: 10px 0;
}

.hotelImages img {
  width: auto;
  height: 30vh;
}
